# 核心依赖 - 先安装这些
Django>=4.2.7,<5.0
djangorestframework>=3.14.0,<4.0
django-cors-headers>=4.3.1,<5.0
django-filter>=23.5,<24.0
django-simpleui>=2025.6.24
djangorestframework-simplejwt>=5.5.0,<6.0.0
PyMySQL>=1.1.0,<2.0
redis>=5.0.1,<6.0
python-dotenv>=1.0.0,<2.0.0
